@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;700&display=swap");
@media only screen and (max-width: 460px) {
  body {
    margin: 0%;
    padding: 0%;
    background-color: #f7dfd3;
    margin: 0px;
  }
  li.cabecera__lista {
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1.wallpaper__titulo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .cabecera__lista {
    font-size: medium;
  }
  section.store-item-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr;
        grid-template-rows: 4fr;
    grid-gap: 2vh;
    justify-items: center;
  }
  #imagen1 {
    height: 100vw;
    width: 100vw;
    padding-top: 10vh;
  }
  #imagen2 {
    height: 100vw;
    width: 100vw;
    padding-top: 10vh;
  }
  #imagen3 {
    height: 100vw;
    width: 100vw;
    padding-top: 10vh;
  }
  #imagen4 {
    height: 100vw;
    width: 100vw;
    padding-top: 10vh;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  body {
    background-color: #f7dfd3;
  }
  .wallpaper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  section.store-item-1 {
    display: -ms-grid;
    display: grid;
    grid-gap: 10vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    justify-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .store-item-1 {
    padding: 10vh;
  }
  #imagen1:hover {
    -webkit-transition: all 2s ease-in;
    transition: all 2s ease-in;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@media only screen and (min-width: 961px) {
  section.store-item-1 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .lunalogo {
    height: 50vh;
    width: 150vh;
  }
  footer.img {
    height: 10px;
    width: 10px;
  }
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  display: -ms-grid;
  display: grid;
  position: relative;
}

body ul.cabecera {
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Abril Fatface', cursive;
}

body li.cabecera__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body a {
  text-decoration: none;
  color: black;
}

section.wallpaper {
  background-image: url(../Audiovisuales/Wallpaper.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.wallpaper .wallpaper__titulo {
  border-radius: 15vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: 'Abril Fatface', cursive;
  color: #f8f8f8;
  font-size: 45px;
}

section.wallpaper .wallpaper__subtitulo {
  border-radius: 15vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  font-family: 'Abril Fatface', cursive;
  color: #f8f8f8;
  font-size: 25px;
}

.body__contacto {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

.body__contacto .form__cta {
  font-family: inherit;
}

.body__contacto .form {
  background-color: #ffff;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.body__contacto .form__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.body__contacto .form__input {
  font-family: inherit;
}

.body__contacto a {
  text-decoration: none;
  color: black;
}

footer {
  height: 200px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .listacontactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 125%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  position: relative;
  padding-top: 5vh;
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-decoration: none;
}

footer .contacto {
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

footer .copyright {
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -ms-flex-item-align: center;
      align-self: center;
}

background-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store {
  display: -ms-grid;
  display: grid;
  height: 300px;
  padding: 0;
}

.store-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  border: none;
  background-color: #0a0909;
  height: 1px;
  display: block;
  border: 0;
  border-top: 1px;
  margin: 1em;
  padding: 0;
}

.store__producto {
  height: 30vw;
  width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
}

nav.navegador {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav.navegador .navegador-tienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav.navegador .navegador-tienda a {
  text-decoration: none;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */