@import "../components/variables";

* {
    margin: 0%;
    padding: 0%;

}


body {

    display: grid;
    position: relative;

     ul.cabecera {
        background-color: map-get($paleta-colores,"blanco");
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        align-content: center;
        font-family: 'Abril Fatface', cursive;
          
          
         
         }
            li.cabecera__lista { 
            display: flex;
            flex-wrap: wrap;
           
            }
              a {
                text-decoration: none;
                color: black;
                }  
}
                  
                
    section.wallpaper{
    background-image: url(../Audiovisuales/Wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: flex-end;
    justify-items: center;
    align-content: center;

        .wallpaper__titulo {
            border-radius: 15vh;
            height: fit-content;
            width:fit-content;
            margin: auto;
            font-family:'Abril Fatface', cursive;
            color: #f8f8f8;
            font-size: 45px;
               } 
               .wallpaper__subtitulo {
                border-radius: 15vh;
                height: fit-content;
                width:fit-content;
                margin: 50px auto; 
                font-family: 'Abril Fatface', cursive;
                color:#f8f8f8;
                font-size: 25px;
    
        }
    }   


    .body__contacto {
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        font-family: 'Montserrat', sans-serif; 
        min-height: 100%;
        .form__cta {
        font-family: inherit;
    }
    
    .form {
        background-color: #ffff;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
    }
    
    .form__container {
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }
    
    .form__input {
        font-family: inherit;
    }
    a {
        text-decoration: none ;
        color: black;
    }
    }
    
    footer {

        height: 200px;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;

    a { 
        text-decoration: none;
        color: black;
    }

    .listacontactos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 125%;
    align-items: center;
    align-content: space-between; 
    align-self: baseline;
    position: relative;
    padding-top: 5vh;
    font-family:'Abril Fatface', cursive;
    color: black;
    text-decoration: none;
}
    .contacto {
    font-family:'Abril Fatface', cursive;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

    .copyright {
    font-family:'Abril Fatface', cursive;
    color: black;
    text-decoration: none;
    display: flex;
    position: inherit;
    align-self: center;

}
}


background-image {
    display: flex;
    flex-wrap: wrap;
}

.store {
    display: grid;
    height: 300px;
    padding: 0;

}

.store-item-1 {
    display: flex;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh; 
    justify-content: space-between;
    
}

p {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

hr {  
border: none;
background-color: rgb(10, 9, 9);
height: 1px; 
display: block;
border: 0;
border-top: 1px;
margin: 1em;
padding: 0;
}
.store__producto {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    
 }
 nav.navegador {
    font-family:'Abril Fatface', cursive;
   text-decoration: none;
   align-self: center;
   display: grid;
   justify-content: space-around;
    .navegador-tienda {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     text-decoration: none;
     align-content: center;
     a {
         text-decoration: none;
     }
 }
 }
 


 .main-container {
     display: flex;
     height: 70vh;
     width: 100%;
 }