@import "../components/variables";

@media only screen and (max-width:460px) {


    body {
        margin: 0%;
        padding: 0%;
        background-color: map-get($paleta-colores, "lavandaclaro");
        margin: 0px;
    }

    li.cabecera__lista {
        font-size: 20px;
        justify-content: center;
        
    }

    h1.wallpaper__titulo {
        justify-content: center;
        justify-self: center;
    }
    
    .cabecera__lista {
        font-size: medium
    }

   
    section.store-item-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-gap: 2vh;
        justify-items: center;

    
    }
    
    #imagen1 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;
    }

    #imagen2 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;

    }#imagen3 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;

    }#imagen4 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;
    }
    

 
}

@media only screen and (min-width: 481px) and (max-width:960px) {

    body {
        background-color:map-get($paleta-colores: "lavandaclaro");
    }

    .wallpaper {
        align-items: center;
        font-size: small;
    }
  section.store-item-1 {
        display: grid; 
        grid-gap: 10vh; 
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        justify-content: space-between;
       
    }

    .store-item-1 {
        padding: 10vh;

    }

    #imagen1:hover {
        transition: all 2s ease-in;
        transform: translateX(100px);
    }
}

@media only screen and (min-width: 961px) {

    body {
        background-color: map-get($paleta-colores: "lavandaclaro");
    }

    section.store-item-1 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .lunalogo {
        height: 50vh;
        width: 150vh;
     
     }
     
     footer.img {
         height: 10px;
         width: 10px;
     }
     
     
}
   

